[Unit]
Description=dvic demo watcher service
After=network.target
Requires=network.target
Type=simple
Restart=always
User=root
ExecStart=/opt/dvic-demo-watcher/dvic_client.py
