[Unit]
Description=DVIC demo watcher service
After=network.target
Requires=network.target
Type=simple
Restart=always
ExecStart=/opt/dvic-demo-watcher/dvic_client.py
